body{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.demo1{
	position: relative;
	margin:100px auto;	
}
.demo1,.demo1 ul img, .demo1 li, .demo1 ul{
	width: 790px;
	height: 340px;
	border-radius: 5px;
}
.demo1 ul{
	position: relative;
}
.demo1 li{
	position: absolute;
}
.pre, .next{
	position: absolute;
	width: 50px;
	height: 90px;
	background-repeat: no-repeat;
	z-index: 10;
	top: 143px;
	opacity: 0;
}
.next{
	right: -18px;
}
.pre{
	left: 40px;
}
.demo1:hover .pre{
	opacity: 0.5;
}
.demo1:hover .next{
	opacity: 0.5;
}


